<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>Comp 521 Files and Databases - Fall 2019</h1>
<h1 style="font-size: 250%;">Problem Set #5</h1>
<h1 style="font-size: 200%;">Version 1.1</h1>
<h1>Issued Thursday 11/07/2019; Due Thursday 11/21/2019</h1>
</div>

**Homework Information:** The answer cells in this notebook contain metadata that enable it to be automatically parsed. Thus, you must enter your answers *only* into the cells provided. Do not delete any answer cell and/or add a new one to replace it. If you do so by accident, download a new copy of the problem set's notebook and transfer your answers into it. You can introduce new 'coding' cells in an effort to test approaches to problems, however, these introduced cells will not be considered when grading.

Finally, some of the problems are probably too long to be done the night before the due date, so plan accordingly. Late problem sets will be accepted, but your lowest problem-set grade will be dropped. Feel free to get help from others, but the work you submit in should be your own.

In [1]:
# Do not make any edits in this cell!
class Student:
    first = "Ethan"
    last = "Bateman"
    onyen = "jetfire"
    pid = "730207448"

Lee Hart has decided to decompose the *Game* table in the NFL roster database into a *Score* table. It represents the scores of a *Game* using separate rows for the home and visiting teams. Each row has a unique game identifier, *gid* and a *home* attribute which contains either an 'H' or a 'V' indicating whether the row is for the home or visiting team respectively. It also includes attributes for the team identifier, *tid*, *season*, *week*, and *date*. It also includes an *outcome* attribute which can be one of 'W' for a win, 'L' for a loss, 'T' for a tie, and '' for an unplayed game. Lastly, each row contains a integer *points* attribute indicating the final number of points scored by the team in the game. A sample of the *Score* table is given below.

<table style="border-collapse: collapse; border: 1px solid black;"><tbody>
<tr style="border-collapse: collapse; border: 1px solid black; background: #c0efff;">
    <th colspan="8" style="text-align:center;">Score</th></tr>
<tr style="border-collapse: collapse; border: 1px solid black;">
    <td style="border-collapse: collapse; border: 1px solid black;"><u>gid</u></td>
    <td style="border-collapse: collapse; border: 1px solid black;"><u>home</u></td>
    <td style="border-collapse: collapse; border: 1px solid black;">tid</td>
    <td style="border-collapse: collapse; border: 1px solid black;">season</td>
    <td style="border-collapse: collapse; border: 1px solid black;">week</td>
    <td style="border-collapse: collapse; border: 1px solid black;">date</td>
    <td style="border-collapse: collapse; border: 1px solid black;">outcome</td>
    <td style="border-collapse: collapse; border: 1px solid black;">points</td>
</tr>
<tr>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
</tr>
<tr style="border-collapse: collapse; border: 1px solid black;">
    <td style="border-collapse: collapse; border: 1px solid black;">31200</td>
    <td style="border-collapse: collapse; border: 1px solid black;">H</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1014</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018-09-06</td>
    <td style="border-collapse: collapse; border: 1px solid black;">W</td>
    <td style="border-collapse: collapse; border: 1px solid black;">18</td>
</tr>
<tr style="border-collapse: collapse; border: 1px solid black;">
    <td style="border-collapse: collapse; border: 1px solid black;">31200</td>
    <td style="border-collapse: collapse; border: 1px solid black;">V</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1015</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018-09-06</td>
    <td style="border-collapse: collapse; border: 1px solid black;">L</td>
    <td style="border-collapse: collapse; border: 1px solid black;">12</td>
</tr>
<tr style="border-collapse: collapse; border: 1px solid black;">
    <td style="border-collapse: collapse; border: 1px solid black;">31201</td>
    <td style="border-collapse: collapse; border: 1px solid black;">H</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1004</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018-09-09</td>
    <td style="border-collapse: collapse; border: 1px solid black;">W</td>
    <td style="border-collapse: collapse; border: 1px solid black;">27</td>
</tr>
<tr style="border-collapse: collapse; border: 1px solid black;">
    <td style="border-collapse: collapse; border: 1px solid black;">31201</td>
    <td style="border-collapse: collapse; border: 1px solid black;">V</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1029</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018-09-09</td>
    <td style="border-collapse: collapse; border: 1px solid black;">L</td>
    <td style="border-collapse: collapse; border: 1px solid black;">24</td>
</tr>
<tr style="border-collapse: collapse; border: 1px solid black;">
    <td style="border-collapse: collapse; border: 1px solid black;">31202</td>
    <td style="border-collapse: collapse; border: 1px solid black;">H</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1005</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018-09-09</td>
    <td style="border-collapse: collapse; border: 1px solid black;">T</td>
    <td style="border-collapse: collapse; border: 1px solid black;">21</td>
</tr>
<tr style="border-collapse: collapse; border: 1px solid black;">
    <td style="border-collapse: collapse; border: 1px solid black;">31202</td>
    <td style="border-collapse: collapse; border: 1px solid black;">V</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1030</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018-09-09</td>
    <td style="border-collapse: collapse; border: 1px solid black;">T</td>
    <td style="border-collapse: collapse; border: 1px solid black;">21</td>
</tr>
<tr style="border-collapse: collapse; border: 1px solid black;">
    <td style="border-collapse: collapse; border: 1px solid black;">31203</td>
    <td style="border-collapse: collapse; border: 1px solid black;">H</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1007</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018-09-09</td>
    <td style="border-collapse: collapse; border: 1px solid black;">L</td>
    <td style="border-collapse: collapse; border: 1px solid black;">6</td>
</tr>
<tr style="border-collapse: collapse; border: 1px solid black;">
    <td style="border-collapse: collapse; border: 1px solid black;">31203</td>
    <td style="border-collapse: collapse; border: 1px solid black;">V</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1027</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018</td>
    <td style="border-collapse: collapse; border: 1px solid black;">1</td>
    <td style="border-collapse: collapse; border: 1px solid black;">2018-09-09</td>
    <td style="border-collapse: collapse; border: 1px solid black;">W</td>
    <td style="border-collapse: collapse; border: 1px solid black;">24</td>
</tr>
    <tr>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
    <td style="border-collapse: collapse; border: 1px solid black;">...</td>
</tr>
</tbody></table>

Lee also provided the following code fragment to create a *Score* table from the exisitng *Game* table.

In [1]:
import sqlite3
db = sqlite3.connect("NFL.db")
db.row_factory = sqlite3.Row
cursor = db.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS Score (
    gid     INTEGER,
    home    TEXT,
    tid     INTEGER,
    season  INTEGER,
    week    TEXT,
    date    DATE,
    outcome TEXT,
    points  INTEGER,
    FOREIGN KEY(tid) REFERENCES Team(tid),
    PRIMARY KEY(gid,home))""")

for year in range(1979,2020):
    cursor.execute("SELECT * FROM Game WHERE SEASON=? ORDER BY date,htid", (year,))
    n = 0
    gameRows = cursor.fetchall()
    for row in gameRows:
        gameid = (row['season']-1940)*400 + n
        hwin = 'W' if (row['hscore'] > row['vscore']) else 'L'
        vwin = 'W' if (row['vscore'] > row['hscore']) else 'L'
        if (hwin == vwin):
            if (row['hscore'] == 0) and (row['season'] == 2019):
                hwin, vwin = '', ''
            else:
                hwin, vwin = 'T', 'T'
        home = [gameid, 'H', row['htid'], row['season'], row['week'], row['date'], hwin, row['hscore']]
        away = [gameid, 'V', row['vtid'], row['season'], row['week'], row['date'], vwin, row['vscore']]
        cursor.execute("INSERT INTO Score VALUES(?,?,?,?,?,?,?,?)", tuple(home))
        cursor.execute("INSERT INTO Score VALUES(?,?,?,?,?,?,?,?)", tuple(away))
        n += 1
db.commit()
db.close()

---
**Problem 1:** The motivation for Lee's new Score table is to better facilitate computing the win-loss-tie records of teams in a given season. Give a SQL query that generates the win-loss-tie for all teams by their number of wins in decreasing order for the 2016 season.

SELECT * 
FROM (SELECT mascot, count(*) as wins FROM Score, team WHERE team.tid = score.tid and season = 2016 and outcome = 'L' GROUP BY score.tid, outcome) LOSS
INNER JOIN (
(SELECT mascot, count(*) as wins FROM Score, team WHERE team.tid = score.tid and season = 2016 and outcome = 'W' GROUP BY score.tid, outcome) WIN 
               left JOIN (SELECT mascot, count(*) as loses FROM Score, team WHERE team.tid = score.tid and season = 2016 and outcome = 'T' GROUP BY score.tid, outcome) TIE
               ON WIN.mascot=TIE.mascot) WINTIE
               ON WINTIE.mascot = LOSS.mascot

---
**Problem 2:** Lee has also suggested that the original *Game* can be generated as a view from his *Score* table. Give a SQL command to construct this view.

//no "notes" column available
CREATE VIEW GameCopy AS
SELECT  season, week, date, vtid, vscore, htid, hscore
FROM (Select gid, tid as htid, points as hscore FROM score WHERE home = 'H') A
LEFT JOIN
(Select gid, season, week, date, tid as vtid, points as vscore FROM score WHERE home = 'V') B
ON A.gid = B.gid

---
**Problem 3:** The following Functional Dependancies (FDs) also apply to the *Score* table's attributes G,H,T,S,W,D,O, which represent the attributes *gid*, *home*, *tid*, *season*, *week*, *date*, *outcome*, and *points* respectively.

<p style="margin-left:200px;">GH &rarr; TSWDOP<br>
SD &rarr; W<br>
TSW &rarr; GH<br>
D &rarr; SW</p>

Does TD &rarr; G appear in the transitive closure of the dependencies? If so, show its derivation using the given FDs.

If D -> SW then TD -> TSW (Augmentation)
If TD -> TSW && TSW -> GH then TD -> GH (Transitivity)
If TD -> GH then TD -> G && TD -> H (Decomposition)
Therefore, TD -> G

---
**Problem 4:** Likewise does SW &rarr; D? If so, show its derivation using the given FDs.

No, SW !-> D

---
**Problem 5:** Based on the given FDs is *Score* in 3NF? Suggest a decompostion of *Score* that achieves BCNF.

Score is no in 3rd normal form, as date, season and week has a partial dependency on gid. To acheieve BCNF we need to remove the partial dependencies. We can do this by putting season, week, and date into their own game table.

---
**Problem 6:** Which of the tables *Game* or *Score* has more redundancy that might lead to update anomalies?

Score has more redundancy. There are 2 instances of season, week and date for each game. This could lead to mismatchig values relating to the same game.

---
**Problem 7:** There are certain disadvantages of the *Score* table. In particular, there are many possible anomalies, such as each *gid* must have corresponding rows with *home* set to 'H' and 'V'. Also, the setting of *outcome* should be consistent with the *points* attribute of the two rows with the same *gid*. Explain how you might enforce integrity checks on the *Score* table?

To check for the home column, I would change the value types to boolean so that only true and false were possible inputs, then I would set the primary key to 'gid' and 'home' with a unique constraint to ensure there is only one home and visiting team per game. As for maintaining integrity of the outcome column, this could be done by removing the column altogether and generating the column from the points columns when selecting.

Click [here to submit](http://csbio.unc.edu/mcmillan/index.py?run=PS.upload) your completed problem set.

You can submit it as many times as you would like, but only the last submitted version will be graded. If the last submission was after the due date the final score will be reduced accordingly.